body {
	font-family: sans-serif;
	max-width: 500px;
	margin: 20px auto;
	background-color: #eee;
}

li {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 8px;
}

button,
input {
	padding: 4px;
}
main {
	border: 2px solid black;
	padding: 40px;
	border-radius: 20px;
	background-color: white;
}
